# Virtual Environment
myenv/
venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# FastAPI / Uvicorn
*.log

# Frontend dependencies and build files
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
